/* #region -----| Global |------------------------------------------------  */
:root {
  /* colors  */
  --color-1-light: rgb(231, 231, 231);
  --color-2-xtra-dark: rgb(41, 41, 41);

  /* font  */
  --font-headline: "Arial", sans-serif;;
  --font-body: "Times New Roman", serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;

  --gap: 1.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Guide  */
  /* border: 1px solid red; */
}

html {
  /* font-size: 10px; Makes 1rem = 10px , must change font size to 1.6rem */
  font-size: 62.5%;

}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-sm);
  color: black;
  background-color: lightblue;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  /* so images dont overflow their containers  */
  max-width: 100%;
  display: block;
}

input,
button {
  /* font is shorthand for size, style, etc  */
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  outline: none;
}

/* Remix Icon Size  */
i {
  font-size: var(--font-size-md);
}
/* #endregion  */

/* #region -----| Reusable Styles |---------------------------------------*/
.container {
  /* limit how wide a container can go  */
  max-width: 160rem;
  /* center */
  margin: 0 auto;
  padding: 0 1.5rem;
}

.place-items-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.d-grid {
  display: grid;
}

.section {
  padding-block: 5rem;
}
/* #endregion  */

/* #region -----| Styles |-------------------------------------  */

.header {
  grid-template-columns: 3fr 1fr;
  align-items: center;
  padding: 2rem;
}
.headline {
  /* padding: 2rem 5rem; */
}

.button {
  color: white;
  background-color: red;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.button:hover {
  background-color: green;
  cursor: pointer;
}

.task-container {
  grid-template-columns: 4fr 1fr 1fr;
  padding: 2rem 0;
  gap: var(--gap);
}

.task-container:hover{
  background-color: aquamarine;
  cursor: pointer;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

input {
  background-color: white;
  border: 1px black solid;
}









/* #endregion  */

/* #region -----| Media Queries -from MOBILE |-------------------------------------  */

/* Mobile style to min 365px  */
@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

/* xlg-screen style to max 1920 */
@media screen and (min-width: 1200px) {

}

/* #endregion  */
